* {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

body {
    min-height: 100vh;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url(/josh-hild-OpkZfKoYHFE-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(255, 253, 253);
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 450px;
    font-weight: 500;
    min-height: 500px;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid black;
    width: 150px;
    box-shadow: rgb(52, 52, 52) 0 0 15px 5px;
    margin-right: 10px;
    padding: 0 10px;
    font-size: larger;
    font-weight: bolder;
    height: auto;
}

.search_by_location {
    top: 0%;
    text-transform: capitalize;
    left: 17%;
}

@media only screen and (max-width: 767px) {
    .search_by_location {
        top: -9%;
        left: 10%;
    }
    
    .search_by_cordinates {
        top: -9%;
        left: 53%;
    }

    #search-location-container {
        margin: 0 !important;
    }

    #search-zipcode-container {
        margin: 0 !important;
    }
}

.info {
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    visibility: hidden;
    color: rgb(255, 255, 255);
}

.contents {
    background-color: rgba(0, 183, 255, 0.542);
    text-align: center;
    border-radius: 5px;
}

img:hover {
    cursor: pointer;
    border: 1px solid white;
}